      <div class='row'>
        <div class='col'>
          <h5 class='mt-2'><%-s.class().length > 0 && s.signature().substr(0, 4) != 'new ' ? s.class() + '.' : ''%><%-s.signature()%></h5>
        </div>
      </div>
      <div class='pl-3'>
        <% if ( s.authors().length > 0 ) { %>
        <div class='row'>
          <div class='col'>
            <p>
              <small>
                <var>Written by: 
          <%   for ( let i = 0, i_max = s.authors().length; i < i_max; i++ ) { %>
                  <%-s.authors()[i]%><%-i == i_max - 1 ? '' : ','%>
          <%   } %>
                </var>
              </small>
            </p>
          </div>
        </div>
        <% } %>
        <% if ( s.added().length > 0 || s.updated().length > 0 ) { %>
        <div class='row'>
          <div class='col'>
            <p>
        <% } %>
        <% if ( s.added().length > 0 ) { %>
              <small>Added in: <%-s.added()%></small>
              <br>
        <% } %>
        <% if ( s.updated().length > 0 ) { %>
        <%   s.updated().forEach((updated) => { %>
              <small>Updated in: <%-updated%></small>
              <br>
        <%   }); %>
        <% } %>
        <% if ( s.added().length > 0 || s.updated().length > 0 ) { %>
            </p>
          </div>
        </div>
        <% } %>
        <% if ( s.param().length > 0 || s.returns().length > 0 ) { %>
        <div class='row'>
          <div class='col'>
            <ul>
        <%   s.param().forEach((param) => { %>
              <li class='py-1'><samp class='bg-samp px-1'><%-param.split(' ')[0]%></samp> - &lt;<a class='text-success' href='#'><%-param.split(' ')[1].replace(/object\[|\]/g, '')%></a>&gt;</li>
        <%   }); %>
        <% if ( s.returns().length > 0 ) { %>
              <li class='py-1 pl-1'>Returns - &lt;<a class='text-success' href='#'><%-s.returns().replace(/object\[|\]/g, '')%></a>&gt;</li>
        <% } %>
            </ul>
          </div>
        </div>
        <% } %>
        <% if ( s.description().length > 0 ) { %>
        <div class='row'>
          <div class='col'>
            <p><%-s.description().replace(/`([a-zA-Z0-9_$]+)`/g, `<samp class='bg-samp px-1'>$1</samp>`).replace(/\[([a-zA-Z0-9_$]+)\]/g, `&lt;<a class='text-success' href='#'>$1</a>&gt;`)%></p>
          </div>
        </div>
        <% } %>
        <% if ( s.see().length > 0 ) { %>
        <%   s.see().forEach((see) => { %>
        <div class='row'>
          <div class='col'>
            <p>See: <a href='#'><%-see%></a></p>
          </div>
        </div>
        <%   }); %>
        <% } %>
      </div>
